<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>{{.Conf.Name}}</title>
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
</head>

<body>
  <div class="container wrapbox">
    <div class="page-header header">
      <h2>{{.Conf.Name}}<small class="smallTitle">{{.Conf.Slogan}} – Ctrl+D 收藏 </small></h2>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12 pc">
        <aside class="aside">
          <div class="asideTitle">
            <h4>{{.Conf.Aside}}</h4>
          </div>
          {{range .Conf.AsideCats}}
          <div class="asideList">
            <h4>{{.Name}}</h4>
            <ul>
              {{range .Links}}
              <li>
                <a href="{{.URL}}" data-desc="{{.Desc}}" rel="nofollow external">{{.Name}}</a>
              </li>
              {{end}}
            </ul>
          </div>
          {{end}}
        </aside>
      </div>
      <div class="col-sm-9 col-xs-12">
        <section class="main">
          {{range .Conf.MainCats}}
          <div class="mainBox">
            <div class="asideTitle">
              <h4>推荐网站</h4>
            </div>
            <ul class="mainList">
              {{range .Links}}
              <li>
                <a href="{{.URL}}" data-desc="{{.Desc}}" rel="nofollow external">{{.Name}}</a>
              </li>
              {{end}}
            </ul>
          </div>
          {{end}}
        </section>

      </div>
      <div class="col-sm-3 col-xs-12 mobile">
        <aside class="aside">
          <div class="asideTitle">
            <h4>{{.Conf.Aside}}</h4>
          </div>
          {{range .Conf.AsideCats}}
          <div class="asideList">
            <h4>{{.Name}}</h4>
            <ul>
              {{range .Links}}
              <li>
                <a href="{{.URL}}" data-desc="{{.Desc}}" rel="nofollow external">{{.Name}}</a>
              </li>
              {{end}}
            </ul>
          </div>
          {{end}}
        </aside>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="col-xs-12">
          <ul class="footList">
            <li>
              <a href="/">{{.Conf.Name}}</a> &copy; 2019
            </li>
            <li>
              <a data-toggle="modal" style="cursor:pointer" data-target="#myModal">申请收录</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div class="dialog"></div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">想加入「{{.Conf.Name}}」？</h4>
        </div>
        <div class="modal-body">
          <p class="lead" style="font-size:14px;">
            请将您的 站点、站点的简介从下面文本域中说明，如果后续希望我们与您取得联系的话还可以留下您的 联系方式。
          </p>
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="站点、站点简介、联系方式"></textarea>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-8">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="验证码">
                </div>
                <div class="col-xs-4">
                  <img width="80px" src="">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
          <button type="button" class="btn btn-primary">提交</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/index.js"></script>
</body>

</html>